<% layout('layouts/boilerplate')%>
<div>
    <div class="container mb-3"><h1>All Books</h1></div>
    

      <div class="row row-cols-2 row-cols-md-4 g-4">
        <% for (let b of books){ %>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= b.coverUrl %>"
                    class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="books/<%=b._id%>"><%= b.title %></a></h5>
                      <h6> <%=b.subtitle%></h6>
                      <p class="card-text"><%= b.author %></p>
                      <p class="card-text"><small class="text-muted"><%= b.fic %> - <%= b.genre %></small></p>
                      <!-- <span class="badge rounded-pill bg-primary"></span> -->
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
</div>
