<% layout('layouts/boilerplate')%>


<div class="container">
   <% let backText = ''; %>
   <% if(prevRoute=="/search") {backText = 'to search'} else if (prevRoute=="/books/new") {backText = 'to new book'} %>
  <p class="shelfTitle link col-2 d-inline-flex" id="backButton">Back <%=backText%></p>
   

  <div class="row">
    <div class="col-sm-2">
      <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="text-center">
            <img src="<%= book.coverUrl %>" class="img-thumbnail float-start w-100" alt="book cover">
             <div class="d-inline-flex">
              
             </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0 text-center"><%= book.title %> <span class="badge bg-secondary" id="category"><%=book.genre%></span> <br> </h4>
          <p class="my-0 text-center"><%= book.subtitle %></p>
          <p class="card-text text-center"> <small class="text-muted"><%= book.author %></small></p>
          <p class="card-text description"><%= book.description %></p>
          <% if (book.pageCount != undefined || book.pageCount != null) {%>
            <p class="card-text text-center"><small> Page Count: <%= book.pageCount %></small></p>
            <% } %>
        </div>
      </div>
      <div>
        
      </div>
    </div>

    <div class="col-sm-2 mt-2">
      <h5>Add To Shelf</h5>
      <form action="/entries" method="POST" novalidate class="validated-form">
        <input type = "hidden" name = "entry[book]" value ="<%=book._id %>" />

        <div class="mb-3">
          <div class="form-check">
              <input class="form-check-input" type="radio" id="read" name="entry[shelf]"required value="Read" >
              <label class="form-check-label" for="read">Read</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" id="Reading" name="entry[shelf]"required value="Reading" >
              <label class="form-check-label" for="Reading">Reading</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" id="WantToRead" name="entry[shelf]"required value="Want to Read">
              <label class="form-check-label" for="WantToRead">Want to Read</label>
          </div>

          <div class="mb-3">
            <input class="" type="hidden" id="notes" name="entry[quillNotes]">
        </div>
          
        </div>  
        

      </form>
    </div>

  </div>
</div>
