<% layout('layouts/boilerplate')%>


<div class="container mb-3">
    <a href="/entries">Back to Entries</a>  

    <div class="text-center xs-10 md-4">

            <form class="validated-form" action="/search" method="POST" novalidate>
                <div class="d-inline-flex" >
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" id="search" required>
                    <button class="btn btn-outline-success" type="">Search</button>
                </div>
            </form>

    </div>
    
</div>
<% if(populate) {%>
    <div class="container text-center">
        <p>Can't find what you're looking for? Log your own book <a href="books/new">here</a></p>
        <!-- <a href="books/new" class="btn btn-outline-success">New Custom Book</a> -->

    </div>

    <div class="container px-0">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
                <% for (let b of results) { %>
                    <div class="card mb-2">
                        <div class="row g-0">
                          <div class="col-4 col-lg-3">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="my-2" id="thumbnail">
                                        <% let thumbnail="" %>
                                        <% try {thumbnail = b.volumeInfo.imageLinks.smallThumbnail} catch(e) {thumbnail="/images/genericbookcover.jpg"}%>
                                        <img src="<%= thumbnail%>" class="img-fluid rounded" alt="book cover">
                                    </div>
                                        <div class="container">
                                            <form action="/books" method="POST" novalidate class="validated-form">
                                                <input type = "hidden" name = "book[title]" value ="<%= b.volumeInfo.title %>" />
                                                <input type = "hidden" name = "book[subtitle]" value ="<%= b.volumeInfo.subtitle %>" />
                                                <input type = "hidden" name = "book[coverUrl]" value ="<%= thumbnail %>" />
                                                <input type = "hidden" name = "book[author]" value ="<%= b.volumeInfo.authors %>" />
                                                <input type = "hidden" name = "book[genre]" value ="<%= b.volumeInfo.categories %>" /> 
                                                <input type = "hidden" name = "book[description]" value ="<%= b.volumeInfo.description %>" /> 
                                                <input type = "hidden" name = "book[pageCount]" value ="<%= b.volumeInfo.pageCount %>" /> 


                                                <div class="d-flex justify-content-center mb-2">
                                                    <button class="btn btn-sm btn-success px-3"><span>Select Book</span></button>
                                                </div>
                                            </form>
        
                                        </div>
                                    
                                </div>                                
                            </div>

                          </div>
                          <div class="col-8 col-lg-9">
                            <div class="card-body mx-1 px-0">
                              <h5 class="card-title text-center mb-0"><%= b.volumeInfo.title %> <span class="badge bg-secondary" id="category"><%=b.volumeInfo.categories%></span></h5>
                              <!-- <h6 class="card-subtitle text-muted text-center"><%= b.volumeInfo.subtitle %></h6> -->
                              <p class="card-text text-center mt-0 mb-1"><small class="text-muted">by <%= b.volumeInfo.authors %></small></p>
                              <% let shortDescription = '' %>
                              <%try {if (b.volumeInfo.description.length>200) {shortDescription =b.volumeInfo.description.substring(0,200)+"..."} else {shortDescription = b.volumeInfo.description} } catch(e) { shortDescription ="No description available"}%>
                              <p class="card-text mx-2"><span style="display:inline-block; width: 20px;"></span><%= shortDescription %></p>
                              <p class="card-text mx-2 text-center"> Page Count: <%= b.volumeInfo.pageCount %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                <%} %>
        </div>
    </div>
 
<% } %>