<% layout('layouts/boilerplate')%>



<div class="mainContainer">
    <div class="container mb-3">
        <div class="row justify-content-start">
            <div class="col-auto">
                <h1><a class="shelfTitle"href="entries">Library</a> <a class="btn btn-success" href="/books/search">+</a></h1>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- <form class="validated-form" action="/search" method="POST" novalidate>
            <div class="d-inline-flex" >
                <input class="form-control" type="search" placeholder="Search for new book" aria-label="Search" name="q" id="search" required>
                <button class="btn btn-outline-success" type="">Search</button>
            </div>
        </form> -->
        <form class="validated-form" action="/entries" method="GET" novalidate>
            <div class="d-inline-flex">
                <!-- <label for="filter">Filter by genre: </label> -->
                <input class="form-control" name="genre" list="genreOptions" id="filter" placeholder="<%= (filter==="")?"Filter by genre":filter %>" autocomplete="off">
                <datalist id="genreOptions">
                    <option value="Fiction">
                    <option value="History">
                    <option value="Nonfiction">
                    <option value="Religious">
                    <option value="Young Adult">
                    <option value="Psychology">
                    <option value="Economics">
                    </datalist>
                <button class="btn btn-outline-primary">
                    Filter
                </button>
            </div>
        </form>
    </div>


    
    <div class="container mx-3 px-0 mt-2">
        <div class="row">
            <div class="col-xs-12 col-md-4 px-0 shelf">
                <h3><a class="shelfTitle" href="/entries?shelf=read">Read</a> (<%= shelfSortedEntries.read.length %>)</h3>
                <% for (let e of shelfSortedEntries.read) { %>
                    <div class="d-flex my-1">
                        <img src="<%=e.book.coverUrl%>" class="img-fluid  entryIndex mx-1" alt="cover">
                        <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <a href="entries?genre=<%=encodeURIComponent(e.book.genre)%>"><span class="badge bg-secondary" id="category"><%=e.book.genre%></span></a></p>
                    </div>
                <% } %>
            </div>
            <div class="col-xs-12 col-md-4 px-0 shelf">
                <h3><a class="shelfTitle" href="entries?shelf=reading">Reading </a>  (<%= shelfSortedEntries.reading.length %>)</h3>
                <% for (let e of shelfSortedEntries.reading) { %>
                    <div class="d-flex my-1">
                        <img src="<%=e.book.coverUrl%>" class="img-fluid  entryIndex mx-1" alt="cover">
                        <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <a href="entries?genre=<%=encodeURIComponent(e.book.genre)%>"><span class="badge bg-secondary" id="category"><%=e.book.genre%></span></a></p>
                    </div>
                <% } %>
            </div>
            <div class="col-xs-12 col-md-4 px-0 shelf">
                <h3><a class="shelfTitle" href="entries?shelf=wanttoread">Want to Read</a> (<%= shelfSortedEntries.wanttoread.length %>)</h3>
                <% for (let e of shelfSortedEntries.wanttoread) { %>
                    <div class="d-flex my-1">
                        <img src="<%=e.book.coverUrl%>" class="img-fluid  entryIndex mx-1" alt="cover">
                        <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %>  <a href="entries?genre=<%=encodeURIComponent(e.book.genre)%>"><span class="badge bg-secondary" id="category"><%=e.book.genre%></span></a></p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>


  

</div>
