<% layout('layouts/boilerplate')%>



<div>
    <div class="container mb-3">
        <div class="row justify-content-start">
            <div class="col-auto">
                <h1>All Entries</h1>
            </div>
            <div class="col-auto">
                <a href="search" class="btn btn-success">+ Add Entry</a>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="/entries" method="GET">
            <label for="filter">Filter by genre: </label>
            <input type="text" name="genre" id="filter">
            <button class="btn btn-primary">
                Filter
            </button>

        </form>
    </div>


    <% if (filter === "") {%>
    <div class="container mx-0 px-0">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3>Read (<%= shelfSortedEntries.read.length %>)</h3>
                <% for (let e of shelfSortedEntries.read) { %>
                    <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge bg-secondary" id="category"><%=e.book.genre%></span></p>
                <% } %>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Reading  (<%= shelfSortedEntries.reading.length %>)</h3>
                <% for (let e of shelfSortedEntries.reading) { %>
                    <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge bg-secondary" id="category"><%=e.book.genre%></span></p>
                <% } %>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Want to Read  (<%= shelfSortedEntries.wantToRead.length %>)</h3>
                <% for (let e of shelfSortedEntries.wantToRead) { %>
                    <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge bg-secondary" id="category"><%=e.book.genre%></span></p>
                <% } %>
            </div>
        </div>
    </div>
    
    <% } else {%>
        <div class="container mx-0 px-0">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h3><%= filter %> (<%= filteredEntries.length %>)</h3>
                    <% for (let e of filteredEntries) { %>
                        <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge bg-secondary" id="category"><%=e.book.genre%></span></p>
                    <% } %>
                </div>
            </div>
        </div>


    <% } %>

  

</div>
