<% layout('layouts/boilerplate')%>



<div>
    <div class="container mb-3"><h1>All Entries</h1></div>
    <a href="search" class="btn btn-success">+ Add Entry</a>


    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Read (<%= shelfSortedEntries.read.length %>)</h2>
                <% for (let e of shelfSortedEntries.read) { %>
                    <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge rounded-pill bg-success"><%= e.shelf %></span></p>
                <% } %>
            </div>
            <div class="col">
                <h2>Reading  (<%= shelfSortedEntries.reading.length %>)</h2>
                <% for (let e of shelfSortedEntries.reading) { %>
                    <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge rounded-pill bg-warning"><%= e.shelf %></span></p>
                <% } %>
            </div>
            <div class="col">
                <h2>Want to Read  (<%= shelfSortedEntries.wantToRead.length %>)</h2>
                <% for (let e of shelfSortedEntries.wantToRead) { %>
                    <p class="my-1"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge rounded-pill bg-primary"><%= e.shelf %></span></p>
                <% } %>
            </div>
        </div>
    </div>

  

</div>
