<% layout('layouts/boilerplate')%>



<div>
    <div class="container mb-3"><h1>All Entries</h1></div>
    <a href="search" class="btn btn-success">+ Add Entry</a>

        <% for (let e of entries) { %>
            <div class="container">
                <div class="col">
                    <div class="row d-inline my-5">
                        <!-- <img src="<%= e.book.coverUrl %>" style="width: 60px;" class="img-fluid" alt="..."> -->
                        <p class="d-inline"><a href="entries/<%=e._id%>"><%= e.book.title %></a> - <%= e.book.author %> <span class="badge rounded-pill bg-primary"><%= e.shelf %></span></p>
                    </div>
                </div>
            </div>     
        <% } %>
    

</div>
