<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= entry.book.coverUrl %>"
             class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= entry.book.title %></h5>
              <h6> <%= entry.book.subtitle %></h6>

              <p class="card-text"><%= entry.book.author %></p>
              <p class="card-text"><small class="text-muted"><%= entry.book.genre %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h2>Reading Information</h2>
      <div>
        <p>Currently in shelf: <%= entry.shelf %></p>
      </div>

      <div>
          <p>Notes about book: <%= entry.notes %></p>
      </div>

      <a href="/entries/<%=entry._id%>/edit">Edit</a>


      <a href="/entries">Back to all entries</a>
      <form action="/entries/<%=entry._id%>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
      </form>

    </div>
  </div>
</div>
