<% layout('layouts/boilerplate')%>
<div class="container">
  <a class="shelfTitle"href="/entries">Back to Library</a>


  <div class="row">
    <div class="col-sm-2">
      <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="text-center">
            <img src="<%= entry.book.coverUrl %>" class="img-thumbnail float-start w-100" alt="book cover">
             <div class="d-inline-flex">
               <a class="btn btn-sm btn-dark" href="/books/<%= entry.book._id %>/edit" role="button">Edit Book</a>
             </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0 text-center"><%= entry.book.title %> <span class="badge bg-secondary" id="category"><%=entry.book.genre%></span></h4>
          <p class="my-0 text-center"><%= entry.book.subtitle %></p>
          <p class="card-text text-center"> <small class="text-muted"><%= entry.book.author %></small></p>
          <p class="card-text description"><%= entry.book.description %></p>
          <% if (entry.book.pageCount != undefined || entry.book.pageCount != null) {%>
            <p class="card-text text-center"><small> Page Count: <%= entry.book.pageCount %></small></p>
            <% } %>
        </div>
      </div>
      <div>
        <form action="/entries/<%=entry._id%>?_method=PUT" method="POST" novalidate class="validated-form">
          <input type = "hidden" name = "entry[book]" value ="<%= entry.book._id %>" />
          <input type="hidden" name="entry[shelf]" value="<%=entry.shelf%>" />

          <div class="">
            <label for="notes" class="form-label mt-2 mb-0">Notes</label>
            <textarea class="form-control" id="notes" name="entry[notes]" rows="<%=Math.max(entry.notes.length/70,4) %>"><%= entry.notes %></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-sm btn-success">Save Notes</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-2 mt-2">
      <h5>Current Shelf</h5>
      <form action="/entries/<%=entry._id%>?_method=PUT" method="POST" novalidate class="validated-form">
        <input type = "hidden" name = "entry[book]" value ="<%= entry.book._id %>" />
        <input type="hidden" name="entry[notes]" value="<%=entry.notes%>" />

        <div class="mb-3">
          <div class="form-check">
              <input class="form-check-input" type="radio" id="read" name="entry[shelf]"required onchange="this.form.submit()" value="Read" <%= entry.shelf=='Read' ? 'checked' : '' %>>
              <label class="form-check-label" for="read">Read</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" id="Reading" name="entry[shelf]"required onchange="this.form.submit()" value="Reading" <%= entry.shelf=='Reading' ? 'checked' : '' %>>
              <label class="form-check-label" for="Reading">Reading</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" id="WantToRead" name="entry[shelf]"required onchange="this.form.submit()" value="Want to Read" <%= entry.shelf=='Want to Read' ? 'checked' : '' %>>
              <label class="form-check-label" for="WantToRead">Want to Read</label>
          </div>
          
        </div>       
      </form>
      <form action="/entries/<%=entry._id%>?_method=DELETE" method="POST">
        <button class="btn btn-sm btn-danger my-1">Remove From Library</button>
      </form>
      
    </div>

  </div>
</div>
